@model Assign02_AWS_Movies.Models.Movie

@{
    ViewData["Title"] = "Movie Description";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
    @*<dt>
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UploadDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Downloads)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Downloads)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User)
            </dd>
        </dl>*@
</div>
<div style=" width:40%;">
    @if (Model.User == this.User.Identity.Name)
    {
        <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a>
    }
    else
    {
        <a>Edit</a>
    }
    |
    <div>
        <script>
        function goBack() {
            window.history.back();
        }
        </script>
        <a onclick="goBack()">Previous Page</a>

    </div>

</div>
