@model IEnumerable<Assign02_AWS_Movies.Models.Movie>
@{
    ViewData["Title"] = "Download Movies";
}

<h2 style=" color:red;"> @ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.description)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.UploadDate)*@
                Upload Date
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Downloads)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.User)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*             @Html.DisplayFor(modelItem => item.Title)*@
                    @if (this.User.Identity.Name!=null)
                    {
                        <a href="https://s3.us-east-2.amazonaws.com/centennialbucket/@Html.DisplayFor(modelItem => item.FileName)" download>
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                        @*<span class="CellComment"> @Html.DisplayFor(modelItem => item.description)</span>*@
                    }
                    else
                    {
                        <a>
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>

                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Downloads)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>*@
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.MovieId">Description</a>
                    @*                    <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
