@model IEnumerable<Assign02_AWS_Movies.Models.Movie>

@{
    ViewData["Title"] = "Movies Management";
}

<h2 style=" color:red;"> @ViewData["Title"]</h2>

<p>
    @if (String.IsNullOrEmpty(this.User.Identities.ToString()))
    {
        <a asp-action="Create">
            New Movie
            @*<button class="button"></button>*@
        </a>
    }
</p>
@*<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="button" />
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a asp-action="Index">All Items</a> @*| Items displayed : @Model.TotalR
        </p>

    </div>
</form>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.description)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.UploadDate)*@
                Upload Date

            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Downloads)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    @*<span class="CellComment"> @Html.DisplayFor(modelItem => item.description)</span>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                @*<td align="center">
                    @Html.DisplayFor(modelItem => item.Downloads)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                @*<td>
                        <a asp-action="Index" asp-controller="Comments" asp-route-id="@item.MovieId">Comments</a> |
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </td>*@
                @if (item.User == this.User.Identity.Name)
                {
                    <td>
                        <a asp-action="Index" asp-controller="Comments" asp-route-id="@item.MovieId">Comments</a> |
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MovieId">Description</a> |
                        <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Index" asp-controller="Comments" asp-route-id="@item.MovieId">Comments</a> |
                        <a style="color: currentColor;  cursor: not-allowed;  opacity: 0.5;  text-decoration: none;" href="#">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MovieId">Description</a>
                        @*<a style="color: currentColor;  cursor: not-allowed;  opacity: 0.5;  text-decoration: none;" href="#">Details</a>*@ |
                        <a style="color: currentColor;  cursor: not-allowed;  opacity: 0.5;  text-decoration: none;" href="#">Delete</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
