@model IEnumerable<Assign02_AWS_Movies.Models.Category>

@{
    ViewData["Title"] = "Categories Management";
}

<h2 style=" color:red;"> @ViewData["Title"]</h2>

<p>
    @if (String.IsNullOrEmpty(this.User.Identities.ToString()))
    {
        <a asp-action="Create">
            New Movie
            @*<button class="button">New Movie</button>*@
        </a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @if (!String.IsNullOrEmpty(this.User.Identities.ToString()) && this.User.Identity.Name != null)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
<div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <a onclick="goBack()">Previous Page</a>

</div>
